.custom-grid {
    .rag-green {
        background: green;
        color: white;
    }

    .rag-amber {
        background: yellow;
        color: white;
    }

    .rag-red {
        background: red;
        color: white;
    }
}
